<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>LearnWeb02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   
   <servlet>
  	<servlet-name>wo</servlet-name>
  	<servlet-class>com.zjm.controller.LoginServlet</servlet-class>
	<init-param>
  		<param-name>wo</param-name>
		<param-value>jdbc:mysql://127.0.0.1:3306/zjm</param-value>  	
	</init-param>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>wo</servlet-name>
  <url-pattern>/nb</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>ni</servlet-name>
  	<servlet-class>com.zjm.controller.AdduserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ni</servlet-name>
  <url-pattern>/wd</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ta</servlet-name>
  	<servlet-class>com.zjm.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ta</servlet-name>
  <url-pattern>/wm</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>bb</servlet-name>
  	<servlet-class>com.zjm.controller.SelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>bb</servlet-name>
  <url-pattern>/ny</url-pattern>
  </servlet-mapping>
  
</web-app>